@import './colors.scss';

.perceptron-wrap {
  display: grid;
  grid-template-rows: 2rem 1fr;
  grid-template-columns: 1fr 15rem;
  height: 100%;
  column-gap: 2rem;
  row-gap: 1rem;

  .sketch {
    grid-row: 2;
    grid-column: 1;
    min-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    canvas {
      border-radius: .5rem;
    }
  }

  .description {
    grid-row: 2;
    grid-column: 2;
    width: 15rem;
    height: 600px;
  }

  .reset-btn {
    cursor: pointer;
    grid-row: 1;
    grid-column: 1;
    background: $color_accent_1_4;
    border: 1px solid $color_accent_1_1;
    height: 2rem;
    width: 6rem;
    
    transition: background .2s ease;

    justify-self: center;
    border-radius: .5rem;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .reset-btn:hover {
    background: $color_accent_1_2;
  }
}